@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="mb-0">
    <div class="flex items-center justify-between py-10 mx-auto px-4 sm\:px-6 lg:px-8">
        <div role="banner">
            <a href="/">
                <img src="/img/logo.svg" class="max-h-10 w-auto dark:hidden" />
                <img src="/img/logo-white.svg" class="max-h-10 w-auto hidden dark:block" />
            </a>
        </div>

        <div>
            <ul>
                <li class="flex items-center gap-2">
                    <DarkModeSwitch />
                    <a href="https://github.com/jsedlak/tazor" target="_blank">
                        <img src="/img/github-mark.svg" class="w-5 h-5 dark:hidden" />
                        <img src="/img/github-mark-white.svg" class="w-5 h-5 hidden dark:block" />
                    </a>
                    <a href="https://discord.gg/nAzk6q2wDr" target="_blank">
                        @BrandIcons.Discord("inline-block w-5 h-5")
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
