@inject NavigationManager Navigation
<li>
    <a class="text-sm opacity-80 text-white hover:opacity-100 @(GetActiveClass())" href="@Href">@Title</a>
</li>

@code {
    [Parameter]
    public string Href { get; set; } = "/";

    [Parameter]
    public string Title { get; set; } = "Untitled";

    private string GetActiveClass()
    {
        return Navigation.Uri.Contains(Href) ? "text-black dark:text-white underline" : "text-gray-500 dark:text-gray-300";
    }

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += (sender, args) => StateHasChanged();
        base.OnInitialized();
    }
}
