@layout DocLayout
@page "/docs/forms/switch"

<PageTitle>Switch - Tazor Docs</PageTitle>

<PageHead Title="Switch" />

<Lead>
    Switch is a component resembling an "iPhone switch" replicates the appearance and functionality of the toggle switch commonly found in iOS interfaces. Users can interact with this component to turn a setting or option on or off, with the switch visually reflecting the current state. It provides an intuitive way to control binary choices within a Blazor web application, mimicking the familiar user experience seen on Apple's mobile devices.
</Lead>


<Switch @bind-IsChecked=@_isSwitched />

<p>Switch Value: @_isSwitched</p>

<CodeBlock Code=@Resources.Examples_Switch Language="razor" />


@code {
    private bool _isSwitched = true;
}
