@layout DocLayout
@page "/docs/data/listview"
@using Tazor.Components.Forms

<PageTitle>ListView - Tazor Docs</PageTitle>

<PageHead Title="ListView" />

<SubHeader>Basic Usage</SubHeader>
<p>Supplying the ListView component with an array of strings (or objects) will output a list of those strings (calling ToString on objects).</p>

<ListView Items=@StringItems />

<CodeBlock Code=@Resources.Examples_Data_ListView_Basic Language="razor" />

<SubHeader>Templated Lists</SubHeader>

<p>It is also possible to supply a template to the ListView to provide custom rendering for items.</p>

<ListView Items=@People>
    <ItemTemplate>
        <div class="flex justify-between items-center w-full">
            <div class="flex items-center gap-4">
                <img src=@context.AvatarUrl class="w-12 h-12 rounded-full" />
                <div>
                    <span class="font-semibold">@context.Name</span>
                    <span class="text-sm opacity-50">@context.Title</span>
                </div>
            </div>
            <div>
                <a href="#" class="cursor-pointer">@HeroIcons.ChevronRight()</a>
            </div>
        </div>
    </ItemTemplate>
</ListView>

<CodeBlock Code=@Resources.Examples_Data_ListView_Templated Language="razor" />
@code {
    private IEnumerable<string> StringItems = new string[] {
        "Item 1",
        "Item 2",
        "Item 3",
        "Item 4",
        "Item 5"
    };

    private static Random random = new Random();

    private IEnumerable<Person> People = Enumerable.Empty<Person>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        People = new Person[]
        {
            new Person{ Name = "Person McPersonyFace", AvatarUrl = $"https://i.pravatar.cc/150?img={random.Next(1, 70)}" },
            new Person{ Name = "Person McPersonyFace", AvatarUrl = $"https://i.pravatar.cc/150?img={random.Next(1, 70)}" },
            new Person{ Name = "Person McPersonyFace", AvatarUrl = $"https://i.pravatar.cc/150?img={random.Next(1, 70)}" },
            new Person{ Name = "Person McPersonyFace", AvatarUrl = $"https://i.pravatar.cc/150?img={random.Next(1, 70)}" },
            new Person{ Name = "Person McPersonyFace", AvatarUrl = $"https://i.pravatar.cc/150?img={random.Next(1, 70)}" },
            new Person{ Name = "Person McPersonyFace", AvatarUrl = $"https://i.pravatar.cc/150?img={random.Next(1, 70)}" },
            new Person{ Name = "Person McPersonyFace", AvatarUrl = $"https://i.pravatar.cc/150?img={random.Next(1, 70)}" },
            new Person{ Name = "Person McPersonyFace", AvatarUrl = $"https://i.pravatar.cc/150?img={random.Next(1, 70)}" }
        };
    }

    private class Person
    {
        public string AvatarUrl { get; set; } = null!;

        public string Title { get; set; } = null!;

        public string Name { get; set; } = null!;
    }
}