@inherits LayoutComponentBase
@inject IThemeManager ThemeManager
@* <CascadingValue TValue="ITheme" Value="ThemeManager.Current" Name="Theme"> *@
<div class="w-full h-full">
    <Header />
    <main class="">
        @Body

        <Footer />
    </main>
</div>
@* </CascadingValue> *@
@code {
    protected override void OnInitialized()
    {
        ThemeManager.ThemeChanged += (s, e) => StateHasChanged();
    }
}