@inject NavigationManager Navigation
<ul>
    <li class="mb-4">
        <NavHeader Title="Getting Started" Href="/" />
        <NavList>
            <NavListItem Title="Getting Started" Href="/#introduction" />
            <NavListItem Title="Installing" Href="/#installing" />
            <NavListItem Title="Tailwind CLI" Href="/#tailwindcli" />
        </NavList>
    </li>
    <li class="mb-4">
        <NavHeader Title="App" Href="/" />
        <NavList>
            <NavListItem Title="Avatar" Href="/app/avatar" />
            <NavListItem Title="Notifications" Href="/app/notifications" /> 
            <NavListItem Title="StatCard" Href="/app/stat-card" />
        </NavList>
    </li>
    <li class="mb-4">
        <NavHeader Title="Layout Components" Href="/" />
        <NavList>
            <NavListItem Title="Accordion" Href="/layout/accordion" />
            <NavListItem Title="Command Palette" Href="/layout/command-palette" />
            <NavListItem Title="Dialog" Href="/layout/dialog" />
            <NavListItem Title="Flyout" Href="/layout/flyout" />
            <NavListItem Title="Overlay" Href="/layout/overlay" />
        </NavList>
    </li>
    <li class="mb-4">
        <NavHeader Title="Data Components" Href="/" />
        <NavList>
            <NavListItem Title="DataGrid" Href="/data/datagrid" />
            <NavListItem Title="TreeView" Href="/data/treeview" />
            <NavListItem Title="ListView" Href="/data/listview" /> 
        </NavList>
    </li>
    <li class="mb-4">
        <NavHeader Title="Navigation Components" Href="/" />
        <NavList>
            <NavListItem Title="TabNav" Href="/navigation/tabs" />
            <NavListItem Title="Breadcrumb" Href="/navigation/breadcrumbs" />
            <NavListItem Title="Pager" Href="/navigation/pager" />
        </NavList>
    </li>
    <li class="mb-4">
        <NavHeader Title="Form Components" Href="/" />
        <NavList>
            <NavListItem Title="Buttons" Href="/forms/buttons" />
            <NavListItem Title="ComboBox" Href="/forms/combobox" />
            <NavListItem Title="TagBox" Href="/forms/tagbox" />
            <NavListItem Title="File Upload" Href="/forms/file-upload" />
            <NavListItem Title="Switch" Href="/forms/switch" />
            <NavListItem Title="Wizard Progress" Href="/forms/wizard-progress" />
        </NavList>
    </li>
    <li class="mb-4">
        <NavHeader Title="Content Components" Href="/" />
        <NavList>
            <NavListItem Title="Hero Icons" Href="/content/hero-icons" />
            <NavListItem Title="Alerts" Href="/content/alerts" />
            <NavListItem Title="Badges" Href="/content/badges" />
            <NavListItem Title="Code Block" Href="/content/code-block" />
            <NavListItem Title="PageHeader" Href="/content/pageheader" />
            <NavListItem Title="Popover" Href="/content/popover" />
            <NavListItem Title="Section" Href="/content/section" />
            <NavListItem Title="Spinner" Href="/content/spinner" />
        </NavList>
    </li>
    <li class="mb-4">
        <NavHeader Title="Utilities" Href="/" />
        <NavList>
            <NavListItem Title="Click Container" Href="/utilities/click-container" />
            <NavListItem Title="Dark Mode Switcher" Href="/utilities/dark-mode-switcher" />
            <NavListItem Title="Breakpoint Indicator" Href="/utilities/breakpoint-indicator" />
            <NavListItem Title="Theme Switcher" Href="/utilities/theme-switcher" />
        </NavList>
    </li>
    <li class="mb-4">
        <NavHeader Title="Theming" Href="/theming" />
    </li>
</ul>
@code {
    protected override void OnInitialized()
    {
        Navigation.LocationChanged += (sender, args) =>
        {
            StateHasChanged();
        };
    }
}
