@inject NavigationManager Navigation
<aside class="flex-shrink-0 lg:block bg-indigo-900 sm:px-4 md:px-10 py-10 w-1/6">
    <ul>
        <li class="mb-4">
            <NavHeader Title="Getting Started" Href="/docs" />
            <NavList>
                <NavListItem Title="Getting Started" Href="/#introduction" />
                <NavListItem Title="Installing" Href="/#installing" />
                <NavListItem Title="Tailwind CLI" Href="/#tailwindcli" />
            </NavList>
        </li>
        <li class="mb-4">
            <NavHeader Title="App" Href="/docs" />
            <NavList>
                <NavListItem Title="Avatar" Href="/docs/app/avatar" />
                <NavListItem Title="Notifications" Href="/docs/app/notifications" />
                <NavListItem Title="StatCard" Href="/docs/app/stat-card" />
            </NavList>
        </li>
        <li class="mb-4">
            <NavHeader Title="Layout Components" Href="/docs" />
            <NavList>
                <NavListItem Title="Accordion" Href="/docs/layout/accordion" />
                <NavListItem Title="Command Palette" Href="/docs/layout/command-palette" />
                <NavListItem Title="Dialog" Href="/docs/layout/dialog" />
                <NavListItem Title="Flyout" Href="/docs/layout/flyout" />
                <NavListItem Title="Overlay" Href="/docs/layout/overlay" />
            </NavList>
        </li>
        <li class="mb-4">
            <NavHeader Title="Data Components" Href="/docs" />
            <NavList>
                <NavListItem Title="DataGrid" Href="/docs/data/datagrid" />
                <NavListItem Title="TreeView" Href="/docs/data/treeview" />
                <NavListItem Title="ListView" Href="/docs/data/listview" />
            </NavList>
        </li>
        <li class="mb-4">
            <NavHeader Title="Navigation Components" Href="/docs" />
            <NavList>
                <NavListItem Title="TabNav" Href="/docs/navigation/tabs" />
                <NavListItem Title="Breadcrumb" Href="/docs/navigation/breadcrumbs" />
                <NavListItem Title="Pager" Href="/docs/navigation/pager" />
            </NavList>
        </li>
        <li class="mb-4">
            <NavHeader Title="Form Components" Href="/docs" />
            <NavList>
                <NavListItem Title="Buttons" Href="/docs/forms/buttons" />
                <NavListItem Title="ComboBox" Href="/docs/forms/combobox" />
                <NavListItem Title="TagBox" Href="/docs/forms/tagbox" />
                <NavListItem Title="File Upload" Href="/docs/forms/file-upload" />
                <NavListItem Title="Switch" Href="/docs/forms/switch" />
                <NavListItem Title="Wizard Progress" Href="/docs/forms/wizard-progress" />
            </NavList>
        </li>
        <li class="mb-4">
            <NavHeader Title="Content Components" Href="/docs" />
            <NavList>
                <NavListItem Title="Hero Icons" Href="/docs/content/hero-icons" />
                <NavListItem Title="Alerts" Href="/docs/content/alerts" />
                <NavListItem Title="Badges" Href="/docs/content/badges" />
                <NavListItem Title="Code Block" Href="/docs/content/code-block" />
                <NavListItem Title="PageHeader" Href="/docs/content/pageheader" />
                <NavListItem Title="Popover" Href="/docs/content/popover" />
                <NavListItem Title="Section" Href="/docs/content/section" />
                <NavListItem Title="Spinner" Href="/docs/content/spinner" />
            </NavList>
        </li>
        <li class="mb-4">
            <NavHeader Title="Utilities" Href="/docs" />
            <NavList>
                <NavListItem Title="Click Container" Href="/docs/utilities/click-container" />
                <NavListItem Title="Dark Mode Switcher" Href="/docs/utilities/dark-mode-switcher" />
                <NavListItem Title="Breakpoint Indicator" Href="/docs/utilities/breakpoint-indicator" />
                <NavListItem Title="Theme Switcher" Href="/docs/utilities/theme-switcher" />
            </NavList>
        </li>
        <li class="mb-4">
            <NavHeader Title="Theming" Href="/theming" />
        </li>
    </ul>
</aside>
@code {
    protected override void OnInitialized()
    {
        Navigation.LocationChanged += (sender, args) =>
        {
            StateHasChanged();
        };
    }
}
