@page "/forms/buttons"
@inject IThemeManager Theme
<PageTitle>Buttons - Tazor Docs</PageTitle>

<PageHead Title="Button" />

<p class="leading-loose mb-4">Buttons</p>

 <Section>
    <h2 class=@Theme.Current.Content.Header2>Options</h2>
    <table class=@Theme.Current.DataGrid.TableElement>
        <thead class=@Theme.Current.DataGrid.Header>
            <tr>
                <th class=@Theme.Current.DataGrid.HeaderCell>Parameter</th>
                <th class=@Theme.Current.DataGrid.HeaderCell>Type</th>
                <th class=@Theme.Current.DataGrid.HeaderCell>Description</th>
            </tr>
        </thead>
        <tbody class=@Theme.Current.DataGrid.Body>
            <tr>
                <td class=@Theme.Current.DataGrid.Cell>Type</td>
                <td class=@Theme.Current.DataGrid.Cell>ButtonType</td>
                <td class=@Theme.Current.DataGrid.Cell>Informs the button component on styling choice.</td>
            </tr>

            <tr>
                <td class=@Theme.Current.DataGrid.Cell>Disabled</td>
                <td class=@Theme.Current.DataGrid.Cell>boolean</td>
                <td class=@Theme.Current.DataGrid.Cell>Defines whether or not the button may be clicked</td>
            </tr>

            <tr>
                <td class=@Theme.Current.DataGrid.Cell>Block</td>
                <td class=@Theme.Current.DataGrid.Cell>boolean</td>
                <td class=@Theme.Current.DataGrid.Cell>Button will be full width when true.</td>
            </tr>
        </tbody>
    </table>
</Section>

<TabNav Items=_exampleNavItems @bind-SelectedItem=_selectedExampleNavItem />
<div class="grid grid-cols-4 gap-2">
    @foreach (ButtonType bt in Enum.GetValues(typeof(ButtonType)))
    {
        <Button Type=@bt>
            @HeroIcons.CheckBadge("inline-block")
            @(Enum.GetName<ButtonType>(bt))
            @HeroIcons.ArrowRightCircle("inline-block")
        </Button>
    }
</div>
<CodeBlock Code=@Resources.Examples_Buttons />

@code {
    private NavItem? _selectedExampleNavItem;
    private IEnumerable<NavItem> _exampleNavItems = new[]
    {
        new NavItem("Demo"),
        new NavItem("Code")
    };
}
