@page "/forms/file-upload"
@using Tazor.Components.Forms

<PageTitle>File Upload - Tazor Docs</PageTitle>

<PageHead Title="File Upload" />

<p class="leading-loose mb-4">Development on this component has not yet started. If you are interested, please consider contributing.</p>

<p><a class="font-semibold" href="https://github.com/jsedlak/tazor/issues/10" target="_blank">GitHub Issue @HeroIcons.Link("inline-block", "w-5 h-5")</a></p>

