@page "/"

<PageTitle>Tazor - A Blazor/Tailwind UI Component Library</PageTitle>

<div class="flex justify-center items-center text-4xl p-10 mb-10 leading-loose" style="height:600px;width:100%;background-image: url('/img/bg.png');background-size:cover;">
    <h1 class="text-center px-10 mx-auto font-bold">Tazor is a developer focused component library built with Blazor and styled with Tailwind CSS</h1>
</div>

<div class="w-10/12 mx-auto">
    <div class="p-10">
        <h1 class="text-2xl text-center">Our Tenets</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="text-center bg-gray-900 text-white p-4 rounded-lg">
            <Lead>Build components that are easy to understand and use</Lead>
        </div>
        <div class="text-center bg-gray-900 text-white p-4 rounded-lg">
            <Lead>Embrace Tailwind, and allow for full customization of the applied classes</Lead>
        </div>
        <div class="text-center bg-gray-900 text-white p-4 rounded-lg">
            <Lead></Lead>
        </div>
    </div>
</div>