@layout DocLayout
@page "/docs/layout/overlay"
@using Tazor.Components.Forms

<PageTitle>Overlay - Tazor Docs</PageTitle>

<PageHead Title="Overlay" />

<SubHeader>Basic Usage</SubHeader>

<p class="mb-3">The Overlay component provides a unified approach to displaying content above the page, highlighted by a darkened/lightened background.</p>

<Button Clicked=@(() => { _isVisible = true; StateHasChanged(); })>Open Overlay</Button>
<CodeBlock Code=@Resources.Examples_Layout_Overlay_Basic Language="razor" />

<Overlay IsVisible=@_isVisible ContentClass="flex justify-center items-center h-full w-full">
    <Button Clicked=@(() => { _isVisible = false; StateHasChanged(); })>
        Close Overlay
    </Button>
</Overlay>
@code {
    private bool _isVisible = false;
}