@layout DocLayout
@page "/docs/navigation/breadcrumbs"

<PageTitle>Breadcrumbs - Tazor Docs</PageTitle>

<PageHead>
    <Title>Breadcrumbs</Title>
</PageHead>

<p class="leading-loose mb-4">The Breadcrumb component provides a simple inline way of allowing users to navigate back through a vertical information architectrure easily.</p>

<h2 class="text-2xl font-semibold mt-3 mb-1">Basic Usage</h2>
<p>Simply pass a list of <code>NavItem</code> objects and let the breadcrumb do the rest. The default delimiter is the forward slash character.</p>

<Breadcrumb Items="_breadcrumb" />
<CodeBlock Code=@Resources.Examples_Navigation_Breadcrumb_Basic Language="razor" />

<h2 class="text-2xl font-semibold mt-3 mb-1">Custom Delimiter</h2>

<p>The Breadcrumb component also allows for a custom delimiter to be supplied. Simply use the <code>DelimiterFragment</code> child component to pass in any valid HTML/Razor syntax. In this case, we're passing an icon from the Hero Icons library.'</p>

<Breadcrumb Items="_breadcrumb">
    <DelimiterTemplate>
        @HeroIcons.AcademicCap()
    </DelimiterTemplate>
</Breadcrumb>

<CodeBlock Code=@Resources.Examples_Navigation_Breadcrumb_CustomDelimiter Language="razor" />

@code {
    private IEnumerable<NavItem> _breadcrumb = new NavItem[]
        {
        new NavItem("Home") { Href = "/" },
        new NavItem("Navigation"),
        new NavItem("Breadcrumbs")
        };
}
