@layout DocLayout
@page "/docs/navigation/tabs"

<PageTitle>TabNav - Tazor Docs</PageTitle>

<PageHead>
    <Title>TabNav</Title>
</PageHead>

<p class="leading-loose mb-4">The DataGrid is a Blazor component designed for presenting tabular data in a web application. It offers built-in features for paging and sorting data, enhancing the user experience and making it easier to navigate and analyze large datasets. Users can interact with the DataGrid to view different sections of data, and they can also arrange the data in ascending or descending order based on specific columns for better organization and analysis. This component simplifies the process of creating dynamic, interactive tables in Blazor web applications, providing a convenient way to display and manipulate data.</p>

<h2 class="text-2xl font-semibold mt-3 mb-1">Basic Usage</h2>
<p>Simply past a list of <code>NavItem</code> objects and bind the <code>SelectedItem</code> parameter.</p>
<TabNav Items=_exampleNavItems @bind-SelectedItem=_selectedExampleNavItem />
<CodeBlock Code=@Resources.Examples_Navigation_TabNav_Basic Language="razor" />

@code {
    private NavItem? _selectedExampleNavItem;
    private IEnumerable<NavItem> _exampleNavItems = new[]
    {
        new NavItem("Tab 1"),
        new NavItem("Tab 2"),
        new NavItem("Tab 3"),
        new NavItem("Tab 4")
    };
}
