@layout DocLayout
@page "/docs/utilities/breakpoint-indicator"

<PageTitle>Breakpoint Indicator - Tazor Docs</PageTitle>

<PageHead>
    <Title>Breakpoint Indicator</Title>
</PageHead>

<p>The BreakpointIndicator is a simple component that displays the current breakpoint to aid in knowing when a breakpoint is hit.</p>

<SubHeader>Basic Usage</SubHeader>
<BreakpointIndicator />
<CodeBlock Code=@Resources.Examples_Utilities_BreakpointIndicator_Basic Language="razor" />

<SubHeader>Custom Classes</SubHeader>
<BreakpointIndicator Class="px-4 py-3 rounded bg-gray-200 dark:bg-gray-800" />
<CodeBlock Code=@Resources.Examples_Utilities_BreakpointIndicator_CustomClass Language="razor" />

<SubHeader>Interop</SubHeader>
<p>The BreakpointIndicator component relies on an injected JS interop service to know when breakpoints change. You can rely on this to fundamentally alter the component tree of your application based on the breakpoint. For instance, you may want to swap a DataGrid for a ListView for smaller screen widths.</p>
<CodeBlock Code=@Resources.Examples_Utilities_BreakpointIndicator_Interop Language="razor" />