@layout DocLayout
@page "/docs/utilities/click-container"

<PageTitle>Click Container - Tazor Docs</PageTitle>

<PageHead>
    <Title>Click Container</Title>
    <Subtitle>
        <Badge Type="BadgeType.Info">Requires JS</Badge>
    </Subtitle>
</PageHead>

<Lead>Documentation coming soon.</Lead>
