@layout DocLayout
@page "/docs/utilities/dark-mode-switcher"

<PageTitle>Dark Mode Switch - Tazor Docs</PageTitle>

<PageHead>
    <Title>Dark Mode Switch</Title>
</PageHead>

<Lead>The Dark Mode Switch component provides a simple way to toggle between light and dark themes.</Lead>

<DarkModeSwitch />

<CodeBlock Code=@Resources.Examples_Utility_DarkModeSwitch Language="razor" />
