@layout DocLayout
@page "/docs/utilities/theme-switcher"
@inject IThemeManager Theme

<PageTitle>Theme Switcher - Tazor Docs</PageTitle>

<PageHead Title="Theme Switcher" />

<p class="leading-loose mb-4">The theme switcher allows you to select a theme. Used mostly for debugging, it could allow your users to switch to a theme that suits their eyes.</p>

<SubHeader>Basic Usage</SubHeader>
<ThemeSwitcher />
<CodeBlock Code=@Resources.Examples_Utilities_ThemeSwitcher_Basic />

<SubHeader>Demonstration</SubHeader>
<p>The following accordion demonstrates that the theme can change dynamically.</p>

<div class="grid grid-cols-3 gap-4">
    <div>
        <SubHeader>Selected Theme</SubHeader>
        <p>Theme: @(Theme.Current.Name)</p>
    </div>

    <div>
        <SubHeader>Switch</SubHeader>
        <Switch />
    </div>

    <div>
        <SubHeader>Pager</SubHeader>
        <Pager CurrentPage="5" NumberOfVisiblePages="5" Pages="20" />
    </div>

    <div>
        <SubHeader>Accordion</SubHeader>
        <AccordionFold>
            <Header>Accordion Header</Header>
            <Content>
                <p>Accordion content</p>
            </Content>
        </AccordionFold>
    </div>
</div>



@code {
    
}
