@layout DocLayout
@page "/docs/content/code-block"

<PageTitle>Code Block - Tazor Docs</PageTitle>

<PageHead>
    <Title>Code Block</Title>
    <Subtitle><Badge Type="BadgeType.Info">Requires JS</Badge></Subtitle>
</PageHead>

<SubHeader>Basic Usage</SubHeader>

<p>The code block is a simple unified approach to rendering code in a page. Simply pass it a string of code.</p>

<CodeBlock Code="This is some code!" />

<CodeBlock Code=@Resources.Examples_Content_CodeBlock_Basic Language="razor" />