@layout DocLayout
@page "/docs/content/pageheader"

<PageTitle>PageHeader - Tazor Docs</PageTitle>

<PageHead>
    <Title>Page Header</Title>
</PageHead>

<PageHeader>This Is A Page Header</PageHeader>