@page "/theming"

<PageTitle>Theming - Tazor Docs</PageTitle>

<PageHead Title="Theming" />

<p class="leading-loose mb-4">Theming is central to Tazor and is the single driver of CSS Class naming across every component. Without a theme, there are no styles.</p>

