@layout DocLayout
@page "/docs/app/avatar"

<PageTitle>Avatar - Tazor Docs</PageTitle>

<PageHead><Title>Avatar</Title></PageHead>

<Lead>
    Avatars provide a great way to visualize a user context in a page.
</Lead>

<SubHeader>Avatar Sizing</SubHeader>

<div class="p-6 bg-gray-900 shadow-xl">
    <div class="grid grid-cols-5 gap-4">
        <div class="flex flex-col justify-center gap-4 items-center p-3">
            <h3>Extra Small</h3>
            <Avatar Name="John Doe" Size="Sizing.ExtraSmall" />
        </div>

        <div class="flex flex-col justify-center gap-4 items-center p-3">
            <h3>Small</h3>
            <Avatar Name="John Doe" Size="Sizing.Small" />
        </div>

        <div class="flex flex-col justify-center gap-4 items-center p-3">
            <h3>Medium</h3>
            <Avatar Name="John Doe" Size="Sizing.Medium" />
        </div>

        <div class="flex flex-col justify-center gap-4 items-center p-3">
            <h3>Large</h3>
            <Avatar Name="John Doe" Size="Sizing.Large" />
        </div>

        <div class="flex flex-col justify-center gap-4 items-center p-3">
            <h3>Extra Large</h3>
            <Avatar Name="John Doe" Size="Sizing.ExtraLarge" />
        </div>
    </div>
</div>

<CodeBlock Code=@Resources.Examples_App_AvatarSizing Language="razor" />

<SubHeader>Avatars With Initials</SubHeader>
<Paragraph>Simply provide the username or formal name to have the avatar show initials</Paragraph>
<Avatar Name="John Doe" />

<SubHeader>Specifying An Image</SubHeader>
<Paragraph>Provide a URL to an image to display the image</Paragraph>
<Avatar Url="https://gravatar.com/avatar/HASH" />

<CodeBlock Code=@Resources.Examples_App_AvatarUrl Language="razor" />

<SubHeader>Specify a Provider</SubHeader>
<Paragraph>Optionally, you can inject a <code>IAvatarProvider</code> to lookup and provide the URL for a user's identifier. There is a built-in provider, <code>Tazor.Services.GravatarAvatarProvider</code> that will convert e-mail addresses to gravatar urls.</Paragraph>
<Avatar Identifier="john.doe@aol.com" />

<CodeBlock Code=@Resources.Examples_App_AvatarProvider Language="csharp" />
